/* Global */
body {
   height: 100vh;
}

ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

a {
   color: gray;
}

a:hover {
   text-decoration: none;
   color: black;
}

/* Container */
.container {
   height: 100%;
}

.container_grid {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
}

/* Grid */
.grid_element {
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0.3;
   width: 200px;
   height: 200px;
   background-color: #ffffff;
   border-radius: 5px;
   border: 1px dashed #696969;
   transition: 0.1s ease-in-out;
   transition-property: background-color, border, opacity;
   cursor: pointer;
}

.widget {
   opacity: 1;
}

.empty_preview {
   opacity: 0.6;
   background-color: whitesmoke;
}

.grid_element:hover {
   opacity: 1;
}

.grid_row {
   display: flex;
   gap: 25px;
}

.grid_row:not(:last-child) {
   margin-bottom: 25px;
}


/* Context menu */
.context_menu {
   display: none;
   position: absolute;
   padding: 10px;
   width: 200px;
   max-height: 300px;
   border-radius: 7px;
   background-color: #fff;
   box-shadow: 2px 3px 5px 1px #c9c9c9;
}

.context_menu h5 {
   font-size: 13px;
   font-weight: 600;
}

.context_menu hr {
   margin: 10px 0;
}

.context_menu li {
   display: flex;
   align-items: center;
   gap: 5px;
   padding-left: 15px;
   font-size: 14px;
   cursor: pointer;
}

.context_menu li:hover a {
   color: black;
}